.footer-nav {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: flex-start;
    gap: 200px;
    /* padding: 20px; */
    margin-top: 65px;
}

.footer-nav__hebergements,
.footer-nav__propos,
.footer-nav__assistance
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-left: 30px;
}

 .footer-nav__assistance {
    margin-right: 333px;
}

@media (max-width: 1024px) {
    .footer-nav {
        width: 100%;
        gap: 150px;
    }
}

@media (max-width: 768px) {
    .footer-nav {
        flex-direction: column;
        gap: 50px;
    }
}